@charset "utf-8";

/*전체선택자*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: 0;
    outline: 0;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}

/*제일 위로가기 버튼*/
.up {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ffac7c;
    position: fixed;
    bottom: 100px;
    right: 80px;
    transition: all 0.5s;
    z-index: 1;
}
.up:hover {
    background-color: #d95353;
    transition: all 0.5s;
}
.fa-angle-up {
    position: absolute;
    top: 5px;
    left: 7px;
}

/*헤더*/
header {
    width: 100%;
    height: 100px;
    background-color: #2f2f2f;
    
    
}
.bg2 {
    width: 1170px;
    height: 1035px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    
    /*border: 1px solid black;*/
}
.logo {
    position: absolute;
    top: 15px;
    left: 10px;
}
.logo2 {
    position: absolute;
    top: 10px;
    left: 80px;
    color: #fff;
}


.menu {
    width: 600px;
    overflow: hidden;
    position: absolute;
    top: 25px;
    right: -150px;

  }
  
  .menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;   
  }
  
  .menu a {
    color: #fff;
  }
  
  .submenu > li {
    line-height: 50px;
    background-color: #7c7c7c;
  }
  
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
    transition-duration: 0.5s;
  }

  .menu > li:hover {
    background-color: #212121;
    transition-duration: 0.5s;
  }
  
  .menu > li:hover .submenu {
    height: 200px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
  }
  nav .submenu>li>a:hover {
    color: #794425;
}

.shoppingbag{
    width: 25px;
    height: 29px;
    margin-top: 0px;
}



/*슬라이드*/
.banner {
    width: 370px;
    height: 555px;
    position: relative;
    top: 0px;
    left: 10%;
    overflow:hidden;
    /*border: 1px solid black;*/
    
    }  
    .banner_slide {
        width: 370px;
        height: 555px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .banner_slide img {
        width: 370px;
        height: 555px;
    }
    
    .banner_slide ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 1850px;
        position: relative;
    }
    .banner_slide>ul>li {
        float: left;
        width: 370px;
        height: 555px;
    }
    .section1 .span1 {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    position: absolute;
    margin-left: 120px;
    margin-top: 160px;
    background-color: #0000002f;
    font-family: 'Raleway', sans-serif;
    }

/*메인*/
    main {
        width: 1170px;
        height: 2900px;
        /*border: 1px solid black;*/
        position: relative;
        top: 100px;
        left: 50%;
        transform: translate(-50%,0);
    }

    /*섹션1*/
.section1_bg {
    width: 100%;
    height: 435px;
    background-color: #d9d9d9;
    position: absolute;
    top: 260px;
}
.section1 {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
    /*border: 1px solid black;*/
    width: 1170px;
}
.section1 hr {
    position: absolute;
    top: 150px;
    left: 600px;
    width: 100px;
    border: 2px solid #2f2f2f;
}
.section1 h1 {
    color: #000;
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 70px;
    position: absolute;
    top: 170px;
    left: 600px;
    font-family: 'Raleway', sans-serif;
}
.section1 .span2 {
    color: #2f2f2f;
    font-weight: bold;
}

.section1 h3 {
    color: #000;
    text-align: left;
    font-weight: 500;
    margin-bottom: 70px;
    position: absolute;
    top: 250px;
    left: 600px;
    font-weight: 500;
}

/*버튼*/
.section1 .btn1 {
    width: 100px;
    height: 40px;
    background-color: #3f3f3f;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 600px;
    font-family: 'Oswald', sans-serif;
}
.section1 .btn1:hover {
    background-color: #0c0c0c;
}
.section1 .btn2 {
    width: 100px;
    height: 40px;
    background-color: #3f3f3f;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 750px;
    font-family: 'Oswald', sans-serif;
}
.section1 .btn2:hover {
    background-color: #0c0c0c;
}
.section1 .btn3 {
    width: 100px;
    height: 40px;
    background-color: #3f3f3f;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 900px;
    font-family: 'Oswald', sans-serif;
}
.section1 .btn3:hover {
    background-color: #0c0c0c;
}
.section1 .btn4 {
    width: 100px;
    height: 40px;
    background-color: #3f3f3f;
    color: #fff;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 390px;
    left: 1050px;
    font-family: 'Oswald', sans-serif;
}
.section1 .btn4:hover {
    background-color: #0c0c0c;
}


.bg {
    width: 100%;
    height: 435px;
    background-color: #d9d9d9;
    position: absolute;
    top: 1090px;
}



.section3 {
    position: absolute;
    top: 700px;
    width: 100%;
    height: 2700px;
    /*border: 1px solid saddlebrown;*/
}
.section3 .text1 {
    position: absolute;
    top: 950px;
    right: 400px;
    font-size: 15px;
}
.section3 .text1:hover {
    color: #FF5C00;
}
.section3 .text2 {
    position: absolute;
    top: 950px;
    right: 270px;
    font-size: 15px;
}
.section3 .text3 {
    position: absolute;
    top: 950px;
    right: 150px;
    font-size: 15px;
}
.section3 .text4 {
    position: absolute;
    top: 950px;
    right: 30px;
    font-size: 15px;
}


.section3 img {
    width: 270px;
    height: 408px;
    margin-top: 300px;
    margin-left: 14px;
}
.section3 img:hover {
    filter: brightness(0.7);
}
.section3 h1 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 90px;
    left: 10px;
}
.section3 .line {
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 130px;

}
.section3 h2 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%,0);
    color: #242424;
}

.section3 .best {
    width: 37px;
    height: 16px;
    background-color: #FF5C00;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    position: absolute;
    top: 73px;
    left: 40px;
}
.section3 .new {
    width: 37px;
    height: 16px;
    background-color: #FF5C00;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    position: absolute;
    top: 73px;
    left: 40px;
}
.section3 .box1 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 750px;
    left: 15px;
    /*border: 1px solid black;*/
}
.section3 .box2 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 750px;
    left: 300px;
    /*border: 1px solid black;*/
}
.section3 .box3 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 750px;
    right: 310px;
    /*border: 1px solid black;*/
}
.section3 .box4 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 750px;
    right: 25px;
    /*border: 1px solid black;*/
}
.section3 .box5 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 1440px;
    left: 15px;
    /*border: 1px solid black;*/
}
.section3 .box6 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 1440px;
    left: 300px;
    /*border: 1px solid black;*/
}
.section3 .box7 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 1440px;
    right: 310px;
    /*border: 1px solid black;*/
}
.section3 .box8 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 1440px;
    right: 25px;
    /*border: 1px solid black;*/
}
.section3 .box9 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2150px;
    left: 15px;
    /*border: 1px solid black;*/
}
.section3 .box10 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2150px;
    left: 300px;
   /*border: 1px solid black;*/
}
.section3 .box11 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2150px;
    right: 310px;
    /*border: 1px solid black;*/
}
.section3 .box12 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2150px;
    right: 25px;
    /*border: 1px solid black;*/
}
.section3 .box13 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2860px;
    left: 15px;
    /*border: 1px solid black;*/
}
.section3 .box14 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2860px;
    left: 300px;
    /*border: 1px solid black;*/
}
.section3 .box15 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2860px;
    right: 310px;
    /*border: 1px solid black;*/
}
.section3 .box16 {
    width: 270px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 2860px;
    right: 25px;
    /*border: 1px solid black;*/
}
.section3 .list {
    display: flex;
    position: absolute;
    top: 3050px;
    left: 50%;
    transform: translate(-50%,0);
}
.section3 .list>li {
    padding: 20px;
}
.section3 .list>li:nth-child(1):hover {
    color: #FF5C00;
}
.section3 .list>li:nth-child(2):hover {
    color: #FF5C00;
}
.section3 .list>li:nth-child(3):hover {
    color: #FF5C00;
}
.section3 .list>li:nth-child(4):hover {
    color: #FF5C00;
}
.section3 .list>li:nth-child(5):hover {
    color: #FF5C00;
}

/*푸터*/
footer {
    width: 100%;
    height: 500px;
    background-color: #2f2f2f;
    position: relative;
    top: 1100px;
}
.foot {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 1170px;
    height: 500px;
    /*border: 1px solid black;*/
}
footer h1 {
    font-weight: bold;
    font-size: 128px;
    color: #ffffff;
    text-align: center;
}
footer p {
    text-align: center;
    color: #fff;
}
footer img {
    width: 40px;
    height: 40px;
    
}
footer .icon1 {
    position: absolute;
    right: 270px;
    bottom: 35px;
}
footer .icon2 {
    position: absolute;
    right: 200px;
    bottom: 35px;
}
select {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 120px;
    height: 30px;
}